
*{
    margin: 0;
    padding: 0;
}
html{
    background-image: url(img/sunrise-morning-dawn-seascape-seaside-beach-waves-wind-horiz.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
body{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
header{
    width: 100%;
    position: fixed;
    background: linear-gradient(
        -90deg,#9C6664,#817ED5);
    justify-content: end;
    nav{
        height: 11vh;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100;
        ul{
            width:90%;
            display: flex;
            justify-content: space-around;
            li{
                font-family: 'Roboto', sans-serif;
                flex-direction: row;
                font-size: x-large;
                list-style: none;
                text-transform: uppercase;
                text-align: center;
                width: 20%;
                  a{
                    color: white;
                    text-decoration: none;
                    transition: 0.5s;
                    -webkit-text-stroke-width: 0.5px;
                    -webkit-text-stroke-color: transparent;
                    &:hover{
                      color: #857AC4;
                      font-weight: bold;
                      letter-spacing: 1px;
                      -webkit-text-stroke-width: 1px;
                      -webkit-text-stroke-color: white;
                    }        
                    }
                    #rooms{
                      &:hover{
                       color: #8a77b1;
                      }
                    }
                    #gallery{
                      &:hover{
                       color: #8F729B;
                      }
                    }
                    #reservations{
                      &:hover{
                       color: #946E89;
                      }
                    }
                    #contact{
                      &:hover{
                       color: #986974;
                      }
                    }
                
}}}}

main{
    margin: 5% auto 0;
    display: flex;
    flex-direction: row;
      .side-one{
        max-width: 20%;
        min-width: 20%;
          .menu-button{
            margin: 10% auto;
            height: 50px;
            width: 50px;
            background-color: rgba(152, 106, 118, 0.5);
            border-radius: 25px;
            transition: 0.5s;
              &:hover{
                border-radius: 25px;
                width: 150px;
              }
          }
      }
      .center{
        background: linear-gradient(
      -90deg,rgba(152, 106, 118, 0.7),rgba(134, 123, 196, 0.7));
        min-width: 300px;
        width: 60%;
        margin: 0 auto;
          h1{
              font-family: 'Roboto', sans-serif;
              padding: 5%;
              font-size: 4em;
              margin: auto;
              text-align: center;
          }
          
          p{
              font-family: 'Roboto', sans-serif;
              font-size: 1.2em;
              padding: 2% 4% 10%;
              line-height: 2em;
              width: 80%;
              margin: auto;
              text-align: justify;
          }
          div{
            display: flex;
            justify-content: center;
              img{
              max-width: 90%;
          }
        }
  }
      .side-two{
        max-width: 20%;
        min-width: 20%;
          .weather-widget{
            margin: 10% auto;
            height: 300px;
            width: 80%;
            background-color: rgba(134, 123, 196, 0.5);
            position: sticky;
            top: 15%;
          }

      }
}

footer{
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  height: 2rem;
  width: 100%;
  background: linear-gradient(
      -90deg,rgba(152, 106, 118, 0.7),rgba(134, 123, 196, 0.7));

}

.loader {
    width: 80px;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto 0 0 auto ;
  }

  .loader > div {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform: rotate(45deg);
    border-top-color: white;
    animation-delay: 0;
    border-radius: 50%;
    position: absolute;
    animation: rotate 3s infinite linear;
  }
  
  .loader .one {
    width: 60px;
    height: 60px;
    transform: rotate(45deg);
    border: 7px solid transparent;
    border-top-color: white;
    animation-delay: 0s;
  }
  
  .loader .two {
    width: 40px;
    height: 40px;
    transform: rotate(90deg);
    border: 7px solid white;
    border-top-color: transparent;
    animation-delay: 0s;
    animation-direction: reverse;
  }
  
  .loader .three {
    width: 20px;
    height: 20px;
    transform: rotate(135deg);
    border: 7px solid transparent;
    border-top-color: white;
    animation-delay: 0s;
  }
  
  .loader .four {
    width: 2px;
    height: 2px;
    transform: rotate(180deg);
    border: 7px solid white;
    border-top-color: transparent;
    animation-delay: 0s;
    animation-direction: reverse;
  }
  
  // @keyframes spin {
  //   50%,
  //   100% {
  //     transform: rotate(10000deg);
  //   }
  // } 
  
  @keyframes rotate {
    from {
      transform: rotate(-360deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .loader:hover {
    animation: rotate 1s;

  }